/*Reset JP*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
@mixin box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
a {
	text-decoration:none;
	outline:none;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.no-column {
	padding-left:0;
	padding-right:0;
}

$em-1: 1em;
$em-2: 2em;
$em-3: 3em;
$em-4: 4em;
p {
	font-size: 15px !important; 
}
@mixin font-family { 
	font-family:"proxima-nova";
}
@mixin adelle {
	font-family:"adelle";
}
@mixin transicion {
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

h1, h2, h3, h4, h5, h6, p, button {
	font-family:"proxima-nova";
	margin:0;
	padding:0;
}
body {
	@include font-family;
	@include transicion;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	text-rendering: optimizeLegibility !important;
}
@mixin cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.table {
	display:table;
	height:100%;
	width:100%;
}
.table-cell {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}



//paleta 
$rojo: #d35854; 
$ahuesado: #efe7da;
$amarillo: #e8bf2d;
$celeste: #80bbc1;
$lila: #807ca5;
$ahuesado-2: #e1d5c4;
$texto-gris: #333333;
$verde: #6a7e55;



body {
	background:$ahuesado;
}

/*Praxis*/
header {
	width:100%;
	@include transicion;
	
	background:$verde;
	-webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.75);
	
	padding:12px 0 8px 0;
	position:relative;
	overflow:visible;
	@media (max-width: 480px) {
		padding:12px 0 7px 0;
	}
	@media only screen and (max-device-width: 480px) {
		padding:12px 0 7px 0;
	}
		
	.container {
		position:relative;
	}
	
	nav ul {
		margin-bottom: 0;
		li {
			list-style:none;
			display:inline-block;
			text-align:center;
			margin-right:100px;
			
			padding-top:47px;
			font-size:$em-1 * 0.72;
			text-transform:uppercase;
			@media (max-width: 1199px) {
				margin-right:67px;
			}
			@media only screen and (max-device-width: 1199px) {
				margin-right:67px;
			}
			&:last-child {
				margin-right:0;
			}
			
			
				a {
					font-weight:800;
					color:$ahuesado;		
					padding-bottom: 2px;
					letter-spacing:1px;
				}
				a:focus, a:hover {
					color:$ahuesado-2;
					text-decoration:none;		
					border-bottom: 3px solid;
				}
		}//li
	}//nav-ul
	nav select {
	  display: none;
	}	
	@media (max-width: 991px) {
	  nav ul     { display: none; }
	  nav select { 
	  	display: inline-block; 
		margin-top:42px; 
		width:70%; 
		margin-left:20%;
		@media (max-width: 991px) {
			margin-top:21px; 
		}
		@media only screen and (max-device-width: 991px) {
			margin-top:21px; 
		}
	  }
	}	
	
	#logo-head {
		text-align:left;
		@media (max-width: 768px) {
			text-align:center;
		}
		@media only screen and (max-device-width: 768px) {
			text-align:center;
		}
	}
	.icons-rs {
		width:34px;
		position:absolute;
		top:92px;
		right:3px;
			@media (max-width: 768px) {
				top:118%;
				right:2%;
			}
			@media only screen and (max-device-width: 768px) {
				top:118%;
				right:2%;
			}
			
			i {
				display:block;
				float:left;
				color:$ahuesado;
				border-radius:50%;
				width:34px;
				height:34px;
				padding-top:11px;
				text-align:center;
				background:$rojo;
				margin-bottom: 15px;
			}
	}
	
	#buscador {
		padding-top:37px;
		@media (max-width: 991px) {
			padding-top:17px;
		}
		@media only screen and (max-device-width: 991px) {
			padding-top:17px;
		}
		@media (max-width: 480px) {
			padding-top:8px;
		}
		@media only screen and (max-device-width: 480px) {
			padding-top:8px;
		}
		
		form {
			
			float:right;
			width:60%;
			@include box;
			
			input[type=text] {
				width:0%;
				opacity:0;
				@include transicion;
				border:none;
				padding:1px 6px;
				border-radius:6px;
				float:right;
				margin-top:5px;
				@media (max-width: 768px) {
					margin-right:10%;
				}
				@media only screen and (max-device-width: 768px) {
					margin-right:10%;
				}
				@media (max-width: 991px) {
					width:90%;
					opacity:1;
				}
				@media only screen and (max-device-width: 991px) {
					width:90%;
					opacity:1;
				}
			}
			input.expandido {
				width:90%;
				opacity:1;
				margin-right:10%;
				@include transicion;
			}
			
		}//form
		
		a.open-buscador {
			color:#333;
			display:inline-block;
			float:right;
			outline:none;
			cursor:pointer;
			margin-right:6px;
				@media (max-width: 768px) {
					margin-right:10%;
				}
				@media only screen and (max-device-width: 768px) {
					margin-right:10%;
				}
		}
		
	}//buscador

}//header


header#nohome {
	background:$ahuesado;
	nav ul {
		li {
			a {
				font-weight:800;
				color:$verde;		
			}
			a:focus, a:hover {
				color:$verde;
			}
		}//li
	}//nav-ul
}//header
header#nohome.fijo {
	background:rgba($ahuesado,.88);
}

#contenido.scrolled{
	padding-top:64px;
		@media (max-width: 768px) {
			padding-top:127px;
		}
		@media only screen and (max-device-width: 768px) {
			padding-top:127px;
		}
	
}
header.fijo {
	position:fixed;
	z-index:9999;
	padding:10px 0 7px 0;
	@include transicion;
	background:rgba($verde,.88);

	nav ul {
		margin-bottom: 0;
		li {
			@include transicion;
			padding-top:21px;
		}//li
	}//nav-ul
	#buscador {
		padding-top:13px;
	}//buscador

	.icons-rs {
		top:75px;
	}
	
}


#titular-home {
	height:422px;
	background:url(img/img-titular-home.jpg) center center no-repeat;
	@include cover;
	.container, .caja-titular, .table, .table-cell {
		height:100%;
	}
	
	h1 {
		color:$ahuesado;
		@include adelle;
		font-size:$em-3 * 1.23;
		margin-top:-20px;
		font-weight:700;
		@media (max-width: 1199px) {
			font-size:$em-3 * 1.1;
		}
		@media only screen and (max-device-width: 1199px) {
			font-size:$em-3 * 1.1;
		}
		@media (max-width: 991px) {
			font-size:$em-3 * .9;
		}
		@media only screen and (max-device-width: 991px) {
			font-size:$em-3 * .9;
		}
		@media (max-width: 667px) {
			font-size:$em-2;
		}
		@media only screen and (max-device-width: 667px) {
			font-size:$em-2;
			
		}
		
	}

}
#slider-home {
	float:left;
	display:block;
	width:100%;
	height:350px;

		.flex-viewport, ul.slides, li, .container, .col-slide {
			height:100%;
		}
		.flex-direction-nav a {
			top:138px;
		}
		.col-slide {
			position:relative;
		}
		.table-cell {
			vertical-align:top;
		}
		h2 {
			color:#FFF;
			font-size:25px;
			font-weight:700;
			display:block;
			width:51%;
			position:relative;
			float:right;
			margin-top:112px;
			a {
				color:#FFF;
			}
			@media (max-width: 1713px) {
				margin-right:8%;
			}
			@media only screen and (max-device-width: 1713px) {
				margin-right:8%;
			}
			@media (max-width: 1472px) {
				margin-right:11%;
			}
			@media only screen and (max-device-width: 1472px) {
				margin-right:11%;
				
			}
			@media (max-width: 1320px) {
				margin-right:15%;
			}
			@media only screen and (max-device-width: 1320px) {
				margin-right:15%;
			}
			@media (max-width: 991px) {
				width:100%;
				margin-right:0;
			}
			@media only screen and (max-device-width: 991px) {
				width:100%;
				margin-right:0;
			}
			@media (max-width: 480px) {
				width:100%;
				margin:0;
				margin-top:112px;
				font-size:18px;
			}
			@media only screen and (max-device-width: 480px) {
				width:100%;
				margin:0;
				margin-top:112px;
				font-size:18px;
			}
			span.fecha {
				font-size:13px;
				font-weight:700;
				position:absolute;
				display:inline-block;
				top:-87px;
				right:-4px;
				z-index:99;
				@media (max-width: 480px) {
					top:-87px;
					font-size:$em-1 * 0.8;
				}
				@media only screen and (max-device-width: 480px) {
					top:-87px;
					font-size:$em-1 * 0.8;
				}
			}
			span.ico-cat-slide-home, button.boton-area {
				position:absolute;
				display:block;
				width:40px;
				height:40px;
				top:118px;
				right:-3px;
				z-index:99;
			}
			button.boton-area {
				top:174px;
				right:1px!important;
			}
			span.ico-socioambiental{
				background:url(img/ico-cat-slider.png) center center no-repeat;
			}
			
			
			
			
		}
}
//slider-home
button.boton-area {
	border:1px solid $ahuesado;
	color:$ahuesado;
	text-transform:uppercase;
	font-size:9px;
	@include box;
	width:122px!Important;
	height:27px!important;
	background:none;
}


#areas-home {
	margin:54px 0 36px 0;
	@include box;
	width:100%;
	float:left;
	
	.caja-area {
		min-height:510px;
		@include transicion;
		@media (max-width: 991px) {
			height:510px;
				&:hover {
					height:510px;
					@include transicion;
				}
		}
		@media only screen and (max-device-width: 991px) {
			height:510px;
				&:hover {
					height:510px;
					@include transicion;
				}
		}
		@media (max-width: 480px) {
			height:500px;
				&:hover {
					height:500px;
					@include transicion;
				}
		}
		@media only screen and (max-device-width: 480px) {
			height:500px;
				&:hover {
					height:500px;
					@include transicion;
				}
		}
		
		.ico-area {
			display:block;
			width:131px;
			height:131px;
			padding-top:10px;
			margin:0 auto;
			text-align:center;
			background:none;
			border-radius:50%;
			@include transicion;
			margin-bottom:46px;
			@media (max-width: 480px) {
				transform:scale(.7,.7);
			}
			@media only screen and (max-device-width: 480px) {
				transform:scale(.7,.7);
			}
		}
		
		.ico-estudios-teoricos {
			@media (max-width: 991px) {
				background:$lila;
			}
			@media only screen and (max-device-width: 991px) {
				background:$lila;
			}
		}
		.ico-trabajo {
			@media (max-width: 991px) {
				background:$rojo;
			}
			@media only screen and (max-device-width: 991px) {
				background:$rojo;
			}
		}
		.ico-comunicacion-politica {
			@media (max-width: 991px) {
				background:$celeste;
			}
			@media only screen and (max-device-width: 991px) {
				background:$celeste;
			}
		}
		.ico-socioambiental {
			@media (max-width: 991px) {
				background:$verde;
			}
			@media only screen and (max-device-width: 991px) {
				background:$verde;
			}
		}
		
		h3{
			text-transform:uppercase;
			font-weight:700;
			letter-spacing:1px;
			margin-bottom:30px;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			font-size:20px;
		}
		p {
			opacity:0;
			text-align:left!important;
			@include adelle;
			font-size:$em-1 * 0.999!important;
			@include transicion;
			padding:0 9%;
			@media (max-width: 991px) {
				display:block;
				opacity:1;
			}
			@media only screen and (max-device-width: 991px) {
				display:block;
				opacity:1;
			}
		}
		a {
			display:inline-block;
			opacity:0;
			@include transicion;
			margin:0 auto;
			text-align:center;
			width:128px;
			height:27px;
			padding-top:5px;			
			border:1px solid $verde;
			color:$verde;
			margin-top:29px;
			font-size:$em-1 * 0.7;
			text-transform:uppercase;
			font-weight:700;
			@media (max-width: 991px) {
				display:inline-block;
				opacity:1;
				@include transicion;
			}
			@media only screen and (max-device-width: 991px) {
				display:inline-block;
				opacity:1;
				@include transicion;
			}
			
			&:hover, &:focus {
				border:1px solid $verde;
				color:$ahuesado;
				background:$verde;
				@include transicion;
				text-decoration:none;
			}
		}//a
		&:hover > a {
			opacity:1;
			@include transicion;
		}
		&:hover > p {
			opacity:1;
			@include transicion;
		}
		&:hover > .ico-estudios-teoricos {
			background:$lila;
			border-radius:50%;
		}
		&:hover > .ico-trabajo {
			background:$rojo;
			border-radius:50%;
		}
		&:hover > .ico-comunicacion-politica {
			background:$celeste;
			border-radius:50%;
		}
		&:hover > .ico-socioambiental {
			background:$verde;
			border-radius:50%;
		}
		
		
		
		
	}//caja-area
}

#publicaciones {
	.titular {
		h2 {
			text-transform:uppercase;
			display:block;
			width:100%;
			text-align:center;
			color:$verde;
			font-size:30px;
			margin-top:50px;
			margin-bottom:20px;
			font-weight:700;
			letter-spacing:1px;
		}
	}
	
	
	.caja-publicacion, .caja-ie-publicacion {
		@include box;
		float:left;
		width:250px;
		height:250px;
		position:relative;
	}
	.caja-publicacion {		
		background-blend-mode: multiply;
	}
	.caja-rojo {
		background-color:$rojo;
	}
	.gris {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
	}
	
	/*Explorer*/
	.caja-ie-publicacion {
		span {
			position:absolute;
			@include box;
			width:100%;
			height:100%;
			opacity:.5;
			z-index:99;
		}
		.cat-rojo {
			background-color:#cd4b3d;
		}
		.gris {
			background-color:#333333!important;
		}
	
	}
	
}
//publicaciones

/*Single*/
#imagen-titular {
	height:350px;
	@include cover;
	
	div {
		height:100%;
	}
	h2 {
		color:#FFF;
		font-weight:700;
		display:block;
		width:100%;
		position:relative;
		float:left;
		font-size:36px!important;
		@media (max-width: 480px) {
			font-size:24px!important;
			width:95%;
			margin-left:5%;
		}
		@media only screen and (max-device-width: 480px) {
			font-size:24px!important;
			width:95%;
			margin-left:5%;
		}
	}
}
#meta-single {
	margin-top:38px;
	margin-bottom:39px;
	position:relative;
	overflow:visible;
		@media (max-width: 768px) {
			margin-bottom:10px;
		}
		@media only screen and (max-device-width: 768px) {
			margin-bottom:10px;
		}
	span.ico-cat-single {
		position:absolute;
		z-index:9;
		@include box;
		width:50px;
		height:50px;
		top:-10px;
		left:-63px;
		@media (max-width: 480px) {
			left:-53px;
		}
		@media only screen and (max-device-width: 480px) {
			left:-53px;
		}
	}
	span.cat-socioambiental {
		background:url(img/ico-cat-single.png) center center no-repeat;
	}
		
	p {
		line-height:14px;
		font-weight:700;
		font-size:12px!important;
		letter-spacing:1px;
		
		a {
			text-transform:uppercase;
			color:$verde;
			&:hover {
				color:$verde;
			}
		}
	}
	ul {
		margin:0;
		display:block;
		float:right;
		@media (max-width: 768px) {
			float:left;
			margin-top:10px;
		}
		@media only screen and (max-device-width: 768px) {
			float:left;
			margin-top:10px;
		}
			li {
				list-style:none;
				display:inline-block;
				float:left;
				a{
					color:#333;
					span {
					transform:scale(.9,.9);
					}
				}
			}
	}
}

#autor-archivos {
	margin-bottom:37px;
	position:relative;
	p {
		display:inline-block;
		padding-top:5px;
		line-height:14px;
		font-weight:700;
		font-size:13px!important;
		letter-spacing:1px;
		@media (max-width: 768px) {
			margin-bottom:20px;
		}
		@media only screen and (max-device-width: 768px) {
			margin-bottom:20px;
		}
	}
	img {
		float:right;
		@media (max-width: 768px) {
			float:left;
		}
		@media only screen and (max-device-width: 768px) {
			float:left;
		}
	}
}
#texto-post {
	h1, h2, h3, h4, h5, h6, blockquote, p, li, a{
		@include adelle;
		margin-bottom:30px;	
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight:700;
	}
	p {
		line-height:$em-1 * 1.7;
	}
	.excerpt-single {
		p{
			font-weight:700;
			line-height:$em-1 * 1.5;
			font-size:17px!important;
		}
	}
	
}
.comentarios-single {
	margin-top:74px;
	margin-bottom:76px;
	float:left;
	@include box;
	h2 {
		text-transform:uppercase;
		display:block;
		float:left;
		color:$rojo;
		font-size:20px;
		margin-bottom:10px;
		font-weight:700;
		letter-spacing:1px;
	}
}


/*Financiamiento*/
#financiamiento {
	h2 {
		text-transform:uppercase;
		display:block;
		float:left;
		width:100%;
		color:$verde;
		font-size:24px;
		margin-bottom:10px;
		font-weight:700;
		letter-spacing:1px;
		margin:41px 0 50px;
	}
	p{
		display:block;
		@include adelle;
		line-height:$em-1 * 1.7;
		font-size:15px!important;
		margin-bottom:40px;
	}
	a {
		display:inline-block;
		color:$verde;
		width:91px;
		height:27px;
		text-align:center;
		padding-top:6px;
		border:1px solid $verde;
		font-size:9px;
		font-weight:700;
		text-transform:uppercase;
		margin:10px 0 200px 0;
		@include transicion;	
		
		&:hover {
			color:$ahuesado;
			background:$verde;
			border:1px solid $verde;
			@include transicion;
			text-decoration:none;
		}
	}	
}//financiamiento

/*Contacto*/
#contacto {
	h2 {
		text-transform:uppercase;
		display:block;
		float:left;
		width:100%;
		color:$verde;
		font-size:24px;
		font-weight:700;
		letter-spacing:1px;
		margin:100px 0 14px;
	}
	p {
		display:block;
		font-weight:700;
		margin-bottom:45px;
		font-size:12px;
	}
	fieldset {
		border:0;
		padding-left:0;
		label {
			text-align:left;
			padding-top:0;
			font-size:12px;
		}
		input[type=text], input[type=email], textarea {
			border:none;
			border-radius:0;
			&:focus {
				border:1px solid $verde;
				box-shadow:none;
			}
		}
		textarea {
			height:120px
		}
		button {
			background:$ahuesado;
			border-radius:0;
			border-color:$verde;
			text-transform:uppercase;
			color:$verde;
			font-size:12px;
			font-weight:700;
			letter-spacing:1px;
		}
		
	}
	.form-horizontal {
		float:left;
		width:100%;
	}
	p.bajada-contacto {
		color:$verde;
		display:block;
		margin:50px 0;
		font-size:10px!important;
		text-transform:uppercase;
		font-weight:700;
		letter-spacing:1px;
	}
}
//contacto
.mapa-contacto {
	height:572px;
}
    .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


footer {
	width:100%;
	float:left;
	padding:20px 0;
	background:$ahuesado-2;
	p {
		color:$verde;
		
		margin:0;
		padding:0;
		font-weight:700;
		line-height:13px;
		font-size:10px!important;
		letter-spacing:$em-1 * 0.08;
		span {
			text-transform:uppercase;
		}
		
		a {
			text-decoration:none;
			font-style:italic;
			font-weight:400;
			color:$verde;
			&:hover {
				color:$verde;
			}
		}
	}
}
//footer

/*$rojo: #cd4b3d; 
$ahuesado: #efe7da;
$amarillo: #e8bf2d;
$celeste: #e5883b;
$lila: #c29372;
$ahuesado-2: #e1d5c4;
$texto-gris: #333333;*/
